* {
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif

}

body {
    margin: 0%;
}

h1, h1, p {
    margin-top: 0%;
    margin-bottom: 0%;
}

button {
    font-family: inherit;
    outline: none;
    cursor: pointer;
}